html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-top {
  background: #1c3459;
  padding: 18px 0;
}

.header-top .container .row .topbar-menu {
  line-height: 27px;
}

.header-top .container .row .topbar-menu .align-self-center li {
  display: inline-block;
  margin: 0 8px;
}

.header-top .container .row .topbar-menu .align-self-center li a {
  display: inline-block;
  margin: 0 8px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.header-top .container .row .topbar-social {
  display: flex;
  justify-content: flex-end;
}

.header-top .container .row .topbar-social .topbar-date {
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
  font-size: 14px;
  border-right: 1px solid #495d7a;
  padding-right: 20px;
  margin-right: 17px;
  font-family: "Rubik", sans-serif;
}

.header-top .container .row .topbar-social .topbar-date i {
  margin-right: 6px;
}

.header-top .container .row .topbar-social .social-area {
  display: flex;
}

.header-top .container .row .topbar-social .social-area li {
  margin: 0 6px;
}

.header-top .container .row .topbar-social .social-area li .facebook-icon {
  background: #3b5998;
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: linear 0.3s;
}

.header-top .container .row .topbar-social .social-area li .facebook-icon:hover {
  color: #097bed;
}

.header-top .container .row .topbar-social .social-area li .twitter-icon {
  background: #55acee;
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: linear 0.3s;
}

.header-top .container .row .topbar-social .social-area li .twitter-icon:hover {
  color: #097bed;
}

.header-top .container .row .topbar-social .social-area li .youtube-icon {
  background: #d42428;
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: linear 0.3s;
}

.header-top .container .row .topbar-social .social-area li .youtube-icon:hover {
  color: #097bed;
}

.header-top .container .row .topbar-social .social-area li .instagram-icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: linear 0.3s;
}

.header-top .container .row .topbar-social .social-area li .instagram-icon:hover {
  color: #097bed;
}

.header-top .container .row .topbar-social .social-area li .google-icon {
  background: #dc4e41;
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: linear 0.3s;
}

.header-top .container .row .topbar-social .social-area li .google-icon:hover {
  color: #097bed;
}

.header-bottom {
  padding: 25px 0px;
}

.header-bottom .container .row .top-logo .main-logo {
  display: block;
  line-height: 78.63px;
  margin-left: 13px;
}

.header-bottom .container .row .right-reklam .logo-right img {
  max-width: 100%;
}

.navbar {
  padding: 8px 16px !important;
  background: #097bed !important;
}

.navbar .container .logo {
  display: none;
}

.navbar .container .mobile-icon {
  display: none;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item {
  position: relative;
  z-index: 0;
  padding-right: 14px;
  transition: all 0.4s ease-in;
  line-height: 52px;
  left: 4px;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

.navbar .container .navbar-collapse .nav-right-part {
  margin-left: 20px;
}

.navbar .container .navbar-collapse .nav-right-part .menu-search-inner {
  background: #086ed5 !important;
}

.navbar .container .navbar-collapse .nav-right-part .menu-search-inner ::placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
  font-family: "Rubik", sans-serif;
}

.navbar .container .navbar-collapse .nav-right-part .menu-search-inner input {
  height: 48px;
  padding: 0 0 0 20px;
  border: 0 !important;
  background: transparent;
}

.navbar .container .navbar-collapse .nav-right-part .menu-search-inner button {
  height: 48px;
  line-height: 48px;
  border: 0 !important;
  background: transparent;
  padding: 0 18px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .header-top .container .row .topbar-menu {
    margin-left: -7px;
  }
  .header-top .container .row .topbar-menu .align-self-center li {
    margin: unset;
  }
  .header-top .container .row .topbar-social .topbar-date {
    display: none;
  }
  .header-top .container .row .topbar-social .social-area li {
    margin: 0 4px;
  }
  .header-bottom {
    display: none;
  }
  .navbar .container .mobile-icon {
    display: block;
    position: relative;
    left: 31%;
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar .container .navbar-toggler {
    border: none;
  }
  .navbar .container .navbar-toggler span {
    color: #ffffff !important;
    margin-right: -10px;
  }
  .navbar .container .navbar-collapse .navbar-nav .nav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 768px) {
  .header-top .container .row {
    justify-content: center;
  }
  .header-top .container .row .topbar-menu {
    margin: unset;
    text-align: center;
  }
  .header-top .container .row .topbar-social {
    justify-content: center;
    margin-top: 8px;
  }
  .navbar .container {
    padding: 12px;
  }
  .navbar .container .mobile-icon {
    position: relative;
    left: 23%;
  }
}

@media screen and (max-width: 576px) {
  .navbar .container .mobile-icon {
    position: relative;
    left: 27%;
  }
  .navbar .container .main-logo img {
    width: 140px;
  }
}

#news {
  padding: 24px 0px 70px 23px;
}

#news .container .row .single-post-wrap {
  position: relative;
  margin-bottom: 30px;
  transition: 0.4s;
}

#news .container .row .single-post-wrap:hover .thumb img {
  transform: scale(1.06);
}

#news .container .row .single-post-wrap:hover .thumb::before {
  visibility: visible;
  opacity: 1;
}

#news .container .row .single-post-wrap .thumb {
  position: relative;
  margin-bottom: 27px;
  overflow: hidden;
  border-radius: 5px;
}

#news .container .row .single-post-wrap .thumb::after {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.6) 52%, rgba(0, 0, 100, 0));
  height: 70%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  transition: 0.4s;
}

#news .container .row .single-post-wrap .thumb::before {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.38) 52%, rgba(0, 0, 100, 0));
  height: 75%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 4;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

#news .container .row .single-post-wrap .thumb img {
  max-width: 100%;
  transition: 0.8s;
  transform: scale(1.01);
}

#news .container .row .single-post-wrap .thumb .tag-base {
  position: absolute;
  left: 17px;
  top: 19px;
  z-index: 3;
  background: #097bed;
  color: #fff;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  display: inline-block;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

#news .container .row .single-post-wrap .details {
  position: absolute;
  bottom: 0;
  padding: 18px 20px;
  z-index: 4;
}

#news .container .row .single-post-wrap .details .post-meta-single {
  margin-bottom: 8px;
}

#news .container .row .single-post-wrap .details .post-meta-single p {
  line-height: 20px;
  color: #fff;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}

#news .container .row .single-post-wrap .details .post-meta-single p i {
  margin-right: 5px;
}

#news .container .row .single-post-wrap .details .title {
  color: #fff;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

#news .container .row .single-post-wrap .details .title a {
  text-decoration: none;
  color: #fff;
  line-height: 33px;
  font-size: 24px;
  transition: linear 0.4s;
}

#news .container .row .single-post-wrap .details .title a:hover {
  color: #FFBE00;
}

#news .container .row .Latest-title {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 15px;
  position: relative;
}

#news .container .row .Latest-title .title {
  margin-bottom: 0;
  font-size: 20px;
  display: inline-block;
  color: #201654;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#news .container .row .Latest-post-list-wrap {
  margin-bottom: 17px;
}

#news .container .row .Latest-post-list-wrap .Gallery {
  display: flex;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-left {
  margin-right: 13px;
  position: relative;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-left img {
  max-width: 75px;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul {
  margin-bottom: 10px;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul li {
  font-size: 14px;
  color: #201654;
  font-family: "Rubik", sans-serif;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul li i {
  margin-right: 5px;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .title a {
  text-decoration: none;
  color: #201654;
  font-weight: 500;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  display: inline-block;
}

#news .container .row .custom-gutters-14 {
  padding: 0 8px;
}

#news .container .row .custom-gutters-14 .single-category-inner {
  position: relative;
  margin-bottom: 15px;
}

#news .container .row .custom-gutters-14 .single-category-inner::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  transition: 0.4s;
}

#news .container .row .custom-gutters-14 .single-category-inner img {
  max-width: 100%;
  vertical-align: middle;
}

#news .container .row .custom-gutters-14 .single-category-inner .tag-base {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  margin-top: -14px;
  z-index: 4;
  border-radius: 30px;
  padding: 0 25px;
  background: #097bed;
  color: #fff;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  transition: linear 0.3s;
  display: inline-block;
  font-family: "Rubik", sans-serif;
}

#news .container .row .custom-gutters-14 .single-category-inner .tag-base:hover {
  background: #0f68c0;
}

@media screen and (max-width: 576px) {
  #news .container .row .custom-gutters-14 .single-category-inner img {
    width: 100%;
  }
}
