html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-top {
  background: #1c3459;
  padding: 18px 0;
}

.header-top .container .row .topbar-menu {
  line-height: 27px;
}

.header-top .container .row .topbar-menu .align-self-center li {
  display: inline-block;
  margin: 0 8px;
}

.header-top .container .row .topbar-menu .align-self-center li a {
  display: inline-block;
  margin: 0 8px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.header-top .container .row .topbar-social {
  display: flex;
  justify-content: flex-end;
}

.header-top .container .row .topbar-social .topbar-date {
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
  font-size: 14px;
  border-right: 1px solid #495d7a;
  padding-right: 20px;
  margin-right: 17px;
  font-family: "Rubik", sans-serif;
}

.header-top .container .row .topbar-social .topbar-date i {
  margin-right: 6px;
}

.header-top .container .row .topbar-social .social-area {
  display: flex;
}

.header-top .container .row .topbar-social .social-area li {
  margin: 0 6px;
}

.header-top .container .row .topbar-social .social-area li .facebook-icon {
  background: #3b5998;
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: linear 0.3s;
}

.header-top .container .row .topbar-social .social-area li .facebook-icon:hover {
  color: #097bed;
}

.header-top .container .row .topbar-social .social-area li .twitter-icon {
  background: #55acee;
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: linear 0.3s;
}

.header-top .container .row .topbar-social .social-area li .twitter-icon:hover {
  color: #097bed;
}

.header-top .container .row .topbar-social .social-area li .youtube-icon {
  background: #d42428;
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: linear 0.3s;
}

.header-top .container .row .topbar-social .social-area li .youtube-icon:hover {
  color: #097bed;
}

.header-top .container .row .topbar-social .social-area li .instagram-icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: linear 0.3s;
}

.header-top .container .row .topbar-social .social-area li .instagram-icon:hover {
  color: #097bed;
}

.header-top .container .row .topbar-social .social-area li .google-icon {
  background: #dc4e41;
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: linear 0.3s;
}

.header-top .container .row .topbar-social .social-area li .google-icon:hover {
  color: #097bed;
}

.header-bottom {
  padding: 25px 0px;
}

.header-bottom .container .row .top-logo .main-logo {
  display: block;
  line-height: 78.63px;
  margin-left: 13px;
}

.header-bottom .container .row .right-reklam .logo-right img {
  max-width: 100%;
}

.navbar {
  padding: 8px 16px !important;
  background: #097bed !important;
}

.navbar .container .logo {
  display: none;
}

.navbar .container .mobile-icon {
  display: none;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item {
  position: relative;
  z-index: 0;
  padding-right: 14px;
  transition: all 0.4s ease-in;
  line-height: 52px;
  left: 4px;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

.navbar .container .navbar-collapse .nav-right-part {
  margin-left: 20px;
}

.navbar .container .navbar-collapse .nav-right-part .menu-search-inner {
  background: #086ed5 !important;
}

.navbar .container .navbar-collapse .nav-right-part .menu-search-inner ::placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
  font-family: "Rubik", sans-serif;
}

.navbar .container .navbar-collapse .nav-right-part .menu-search-inner input {
  height: 48px;
  padding: 0 0 0 20px;
  border: 0 !important;
  background: transparent;
}

.navbar .container .navbar-collapse .nav-right-part .menu-search-inner button {
  height: 48px;
  line-height: 48px;
  border: 0 !important;
  background: transparent;
  padding: 0 18px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .header-top .container .row .topbar-menu {
    margin-left: -7px;
  }
  .header-top .container .row .topbar-menu .align-self-center li {
    margin: unset;
  }
  .header-top .container .row .topbar-social .topbar-date {
    display: none;
  }
  .header-top .container .row .topbar-social .social-area li {
    margin: 0 4px;
  }
  .header-bottom {
    display: none;
  }
  .navbar .container .mobile-icon {
    display: block;
    position: relative;
    left: 31%;
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar .container .navbar-toggler {
    border: none;
  }
  .navbar .container .navbar-toggler span {
    color: #ffffff !important;
    margin-right: -10px;
  }
  .navbar .container .navbar-collapse .navbar-nav .nav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navbar .container .navbar-collapse .nav-right-part .menu-search-inner button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-top .container .row {
    justify-content: center;
  }
  .header-top .container .row .topbar-menu {
    margin: unset;
    text-align: center;
  }
  .header-top .container .row .topbar-social {
    justify-content: center;
    margin-top: 8px;
  }
  .navbar .container {
    padding: 12px;
  }
  .navbar .container .mobile-icon {
    position: relative;
    left: 23%;
  }
}

@media screen and (max-width: 576px) {
  .navbar .container .mobile-icon {
    position: relative;
    left: 27%;
  }
  .navbar .container .main-logo img {
    width: 140px;
  }
}

#news {
  padding: 24px 0px 70px 23px;
}

#news .container .row .single-post-wrap {
  position: relative;
  margin-bottom: 30px;
  transition: 0.4s;
}

#news .container .row .single-post-wrap:hover .thumb img {
  transform: scale(1.06);
}

#news .container .row .single-post-wrap:hover .thumb::before {
  visibility: visible;
  opacity: 1;
}

#news .container .row .single-post-wrap .thumb {
  position: relative;
  margin-bottom: 27px;
  overflow: hidden;
  border-radius: 5px;
}

#news .container .row .single-post-wrap .thumb::after {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.6) 52%, rgba(0, 0, 100, 0));
  height: 70%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  transition: 0.4s;
}

#news .container .row .single-post-wrap .thumb::before {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.38) 52%, rgba(0, 0, 100, 0));
  height: 75%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 4;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

#news .container .row .single-post-wrap .thumb img {
  max-width: 100%;
  transition: 0.8s;
  transform: scale(1.01);
}

#news .container .row .single-post-wrap .thumb .tag-base {
  position: absolute;
  left: 17px;
  top: 19px;
  z-index: 3;
  background: #097bed;
  color: #fff;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  display: inline-block;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

#news .container .row .single-post-wrap .details {
  position: absolute;
  bottom: 0;
  padding: 18px 20px;
  z-index: 4;
}

#news .container .row .single-post-wrap .details .post-meta-single {
  margin-bottom: 8px;
}

#news .container .row .single-post-wrap .details .post-meta-single p {
  line-height: 20px;
  color: #fff;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}

#news .container .row .single-post-wrap .details .post-meta-single p i {
  margin-right: 5px;
}

#news .container .row .single-post-wrap .details .title {
  color: #fff;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

#news .container .row .single-post-wrap .details .title a {
  text-decoration: none;
  color: #fff;
  line-height: 33px;
  font-size: 24px;
  transition: linear 0.4s;
}

#news .container .row .single-post-wrap .details .title a:hover {
  color: #FFBE00;
}

#news .container .row .Latest-title {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 15px;
  position: relative;
}

#news .container .row .Latest-title .title {
  margin-bottom: 0;
  font-size: 20px;
  display: inline-block;
  color: #201654;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#news .container .row .Latest-post-list-wrap {
  margin-bottom: 17px;
}

#news .container .row .Latest-post-list-wrap .Gallery {
  display: flex;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-left {
  margin-right: 13px;
  position: relative;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-left img {
  max-width: 75px;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul {
  margin-bottom: 10px;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul li {
  font-size: 14px;
  color: #201654;
  font-family: "Rubik", sans-serif;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul li i {
  margin-right: 5px;
}

#news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .title a {
  text-decoration: none;
  color: #201654;
  font-weight: 500;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  display: inline-block;
  line-height: 21px;
}

#news .container .row .custom-gutters-14 {
  padding: 0 8px;
}

#news .container .row .custom-gutters-14 .single-category-inner {
  position: relative;
  margin-bottom: 15px;
}

#news .container .row .custom-gutters-14 .single-category-inner::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  transition: 0.4s;
}

#news .container .row .custom-gutters-14 .single-category-inner img {
  max-width: 100%;
  vertical-align: middle;
}

#news .container .row .custom-gutters-14 .single-category-inner .tag-base {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  margin-top: -14px;
  z-index: 4;
  border-radius: 30px;
  padding: 0 25px;
  background: #097bed;
  color: #fff;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  transition: linear 0.3s;
  display: inline-block;
  font-family: "Rubik", sans-serif;
}

#news .container .row .custom-gutters-14 .single-category-inner .tag-base:hover {
  background: #0f68c0;
}

@media screen and (max-width: 576px) {
  #news .container .row .custom-gutters-14 .single-category-inner img {
    width: 100%;
  }
}

#Slider-news {
  padding-bottom: 50px;
  padding-top: 75px;
  background: #f7fbff;
}

#Slider-news .container .row .section-title {
  position: relative;
  padding-bottom: 34px;
  width: 262.5px;
}

#Slider-news .container .row .section-title .title {
  margin-bottom: 0;
  font-size: 20px;
  display: inline-block;
  color: #201654;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#Slider-news .container .row .section-slider {
  position: relative;
}

#Slider-news .container .row .section-slider .item .trending-post .single-post-wrap {
  margin-bottom: 25px;
  position: relative;
  transition: 0.4s;
}

#Slider-news .container .row .section-slider .item .trending-post .single-post-wrap .thumb {
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
  border-radius: 5px;
}

#Slider-news .container .row .section-slider .item .trending-post .single-post-wrap .thumb img {
  transition: 0.8s;
  transform: scale(1.01);
  min-height: 119px;
  max-width: 100%;
  vertical-align: middle;
}

#Slider-news .container .row .section-slider .item .trending-post .single-post-wrap .thumb::before {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.38) 52%, rgba(0, 0, 100, 0));
  height: 75%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 4;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

#Slider-news .container .row .section-slider .item .trending-post .single-post-wrap .thumb::after {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.6) 52%, rgba(0, 0, 100, 0));
  height: 70%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  transition: 0.4s;
}

#Slider-news .container .row .section-slider .item .trending-post .single-post-wrap .details {
  position: absolute;
  bottom: 0;
  padding: 18px 20px;
  z-index: 4;
}

#Slider-news .container .row .section-slider .item .trending-post .single-post-wrap .details .post-meta-single {
  margin-bottom: 8px;
}

#Slider-news .container .row .section-slider .item .trending-post .single-post-wrap .details .post-meta-single p {
  color: #fff;
  font-family: "Rubik", sans-serif;
  margin-bottom: 7px;
}

#Slider-news .container .row .section-slider .item .trending-post .single-post-wrap .details .post-meta-single p i {
  margin-right: 5px;
}

#Slider-news .container .row .section-slider .item .trending-post .single-post-wrap .details h6 a {
  text-decoration: none;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#Slider-news .container .row .section-slider .icon-slider {
  display: inline-block;
  position: absolute;
  top: -54px;
  right: -4px;
}

#Slider-news .container .row .section-slider .icon-slider button {
  margin-left: 21px;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  color: #097bed;
  font-size: 20px;
}

#Slider-news .container .row .item {
  position: relative;
}

#Slider-news .container .row .item .Latest-post-list-wrap {
  margin-bottom: 17px;
}

#Slider-news .container .row .item .Latest-post-list-wrap .Gallery {
  display: flex;
}

#Slider-news .container .row .item .Latest-post-list-wrap .Gallery .gallery-left {
  margin-right: 13px;
  position: relative;
}

#Slider-news .container .row .item .Latest-post-list-wrap .Gallery .gallery-left img {
  max-width: 75px;
}

#Slider-news .container .row .item .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul {
  margin-bottom: 10px;
}

#Slider-news .container .row .item .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul li {
  font-size: 14px;
  color: #201654;
  font-family: "Rubik", sans-serif;
}

#Slider-news .container .row .item .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul li i {
  margin-right: 5px;
}

#Slider-news .container .row .item .Latest-post-list-wrap .Gallery .gallery-body .details .title a {
  text-decoration: none;
  color: #201654;
  font-weight: 500;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  display: inline-block;
  line-height: 20px;
}

#Slider-news .container .row .item .icon-slider {
  display: inline-block;
  position: absolute;
  top: -54px;
  right: 35px;
}

#Slider-news .container .row .item .icon-slider button {
  margin-left: 21px;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  color: #097bed;
  font-size: 20px;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap {
  position: relative;
  margin-bottom: 30px;
  transition: 0.4s;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap:hover .thumb img {
  transform: scale(1.06);
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .thumb {
  position: relative;
  margin-bottom: 27px;
  overflow: hidden;
  border-radius: 5px;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .thumb img {
  transition: 0.8s;
  transform: scale(1.01);
  transform-style: preserve-3d;
  max-width: 100%;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .details .post-meta-single ul {
  margin-left: -6px;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .details .post-meta-single ul li {
  display: inline-block;
  margin: 0 6px;
  color: #201654;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  transition: linear 0.3s;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .details .post-meta-single ul li a {
  background: #097bed;
  color: #fff;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  display: inline-block;
  border-radius: 3px;
  font-size: 15px;
  transition: linear 0.3s;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .details .post-meta-single ul li a:hover {
  background: #0f68c0;
  color: #fff;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .details .post-meta-single ul li i {
  margin-right: 5px;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .details .title {
  color: #201654;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .details .title a {
  text-decoration: none;
  transition: linear 0.3s;
  color: inherit;
  line-height: 25px;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .details .title a:hover {
  color: #097bed;
}

#Slider-news .container .row .Latest-post-list-wrap .item .single-post-wrap .details p {
  margin-bottom: 0;
  margin-top: 16px;
  line-height: 27px;
  color: #201654;
  font-family: "Rubik", sans-serif;
}

#Slider-news .container .row .Latest-post-list-wrap .item .icon-slider {
  right: 0px;
}

#Slider-news .container .row .social-area-list ul li {
  list-style: none;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#Slider-news .container .row .social-area-list ul li a {
  font-size: 14px;
  text-decoration: none;
  outline: none;
  color: inherit;
  font-family: "Rubik", sans-serif;
}

#Slider-news .container .row .social-area-list ul li a:hover {
  color: #097bed;
}

#Slider-news .container .row .social-area-list ul li a .social-icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
}

#Slider-news .container .row .social-area-list ul li a .fa-facebook {
  background: #3b5998;
}

#Slider-news .container .row .social-area-list ul li a .fa-twitter {
  background: #55acee;
}

#Slider-news .container .row .social-area-list ul li a .fa-youtube-play {
  background: #d42428;
}

#Slider-news .container .row .social-area-list ul li a .fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

#Slider-news .container .row .social-area-list ul li a .fa-google {
  background: #dc4e41;
}

#Slider-news .container .row .social-area-list ul li a .fa-plus {
  color: #3b5998;
  font-size: 14px;
  float: right;
  padding-top: 13px;
  background: none !important;
}

#Slider-news .container .row .social-area-list ul li a span {
  margin-left: 18px;
}

#Trending {
  padding-bottom: 50px;
  padding-top: 80px;
}

#Trending .container .row .single-post-wrap {
  position: relative;
  margin-bottom: 30px;
  transition: 0.4s;
}

#Trending .container .row .single-post-wrap .thumb {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

#Trending .container .row .single-post-wrap .thumb::before {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.38) 52%, rgba(0, 0, 100, 0));
  height: 75%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 4;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

#Trending .container .row .single-post-wrap .thumb::after {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.3) 52%, rgba(0, 0, 100, 0));
  height: 70%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  transition: 0.4s;
}

#Trending .container .row .single-post-wrap .thumb img {
  transition: 0.8s;
  transform: scale(1.01);
  max-width: 100%;
}

#Trending .container .row .single-post-wrap .details {
  position: absolute;
  bottom: 0;
  padding: 18px 18px;
  z-index: 4;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
}

#Trending .container .row .single-post-wrap .details .post-meta-single ul li {
  display: inline-block;
  margin: 0 6px;
  color: v #201654;
  font-size: 14px;
}

#Trending .container .row .single-post-wrap .details .post-meta-single ul li a {
  background: #097bed;
  color: #fff;
  font-family: "Rubik", sans-serif;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  display: inline-block;
  border-radius: 3px;
  font-size: 15px;
  text-decoration: none;
}

#Trending .container .row .single-post-wrap .details .post-meta-single ul li p {
  margin-bottom: 0;
  margin-top: 16px;
  color: #201654;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}

#Trending .container .row .single-post-wrap .details .post-meta-single ul li p i {
  margin-right: 5px;
}

#Trending .container .row .single-post-wrap .details .title {
  color: #201654;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#Trending .container .row .single-post-wrap .details .title a {
  text-decoration: none;
  text-decoration: none;
  outline: none;
  color: inherit;
  line-height: 25px;
  transition: linear 0.3s;
}

#Trending .container .row .single-post-wrap .details .title a:hover {
  color: #097bed;
}

#Trending .container .row .section-title {
  padding-bottom: 15px;
  position: relative;
}

#Trending .container .row .section-title .title {
  margin-bottom: 0;
  font-size: 20px;
  display: inline-block;
  color: #201654;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

#Trending .container .row .section-title .nxp-tab-inner {
  text-align: right !important;
}

#Trending .container .row .section-title .nxp-tab-inner .nav {
  display: inline-block;
  border: none;
}

#Trending .container .row .section-title .nxp-tab-inner .nav .nav-item {
  margin: 0 10px;
  display: inline-block;
}

#Trending .container .row .section-title .nxp-tab-inner .nav .nav-item .nav-link {
  color: #495057;
  display: inline-block;
  overflow: hidden;
  padding: 0px;
  padding-bottom: 16px;
  font-family: "Rubik", sans-serif;
  transition: linear 0.3s;
}

#Trending .container .row .section-title .nxp-tab-inner .nav .nav-item .nav-link:hover {
  color: #097bed;
}

#Trending .container .row .tab-content .tab-pane .row .thumb img {
  max-width: 100%;
}

#Trending .container .row .tab-content .tab-pane .row .Latest-post-list-wrap {
  margin-bottom: 17px;
}

#Trending .container .row .tab-content .tab-pane .row .Latest-post-list-wrap .Gallery {
  display: flex;
}

#Trending .container .row .tab-content .tab-pane .row .Latest-post-list-wrap .Gallery .gallery-left {
  margin-right: 13px;
  position: relative;
}

#Trending .container .row .tab-content .tab-pane .row .Latest-post-list-wrap .Gallery .gallery-left img {
  max-width: 75px;
}

#Trending .container .row .tab-content .tab-pane .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul {
  margin-bottom: 10px;
}

#Trending .container .row .tab-content .tab-pane .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul li {
  font-size: 14px;
  color: #201654;
  font-family: "Rubik", sans-serif;
}

#Trending .container .row .tab-content .tab-pane .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul li i {
  margin-right: 5px;
}

#Trending .container .row .tab-content .tab-pane .row .Latest-post-list-wrap .Gallery .gallery-body .details .title a {
  text-decoration: none;
  color: #201654;
  font-weight: 500;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  display: inline-block;
  line-height: 21px;
}

@media screen and (max-width: 1200px) {
  .order-xl-4 {
    order: 4;
  }
  .order-xl-1 {
    order: 1;
  }
  .order-xl-12 {
    order: 12;
  }
  .thumb img {
    width: 100%;
  }
}

#popular-news {
  background: #f7fbff;
  padding-top: 80px;
  padding-bottom: 60px;
}

#popular-news .container .row .single-post-wrap {
  position: relative;
  margin-bottom: 30px;
  transition: 0.4s;
}

#popular-news .container .row .single-post-wrap:hover .thumb img {
  transform: scale(1.06);
}

#popular-news .container .row .single-post-wrap:hover .thumb::before {
  visibility: visible;
  opacity: 1;
}

#popular-news .container .row .single-post-wrap .thumb {
  position: relative;
  margin-bottom: 27px;
  overflow: hidden;
  border-radius: 5px;
}

#popular-news .container .row .single-post-wrap .thumb::after {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.6) 52%, rgba(0, 0, 100, 0));
  height: 70%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  transition: 0.4s;
}

#popular-news .container .row .single-post-wrap .thumb::before {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.38) 52%, rgba(0, 0, 100, 0));
  height: 75%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 4;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

#popular-news .container .row .single-post-wrap .thumb img {
  max-width: 100%;
  transition: 0.8s;
  transform: scale(1.01);
}

#popular-news .container .row .single-post-wrap .thumb .tag-base {
  position: absolute;
  left: 17px;
  top: 19px;
  z-index: 3;
  background: #097bed;
  color: #fff;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  display: inline-block;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

#popular-news .container .row .single-post-wrap .details {
  position: absolute;
  bottom: 0;
  padding: 18px 20px;
  z-index: 4;
}

#popular-news .container .row .single-post-wrap .details .post-meta-single {
  margin-bottom: 8px;
}

#popular-news .container .row .single-post-wrap .details .post-meta-single p {
  line-height: 20px;
  color: #fff;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}

#popular-news .container .row .single-post-wrap .details .post-meta-single p i {
  margin-right: 5px;
}

#popular-news .container .row .single-post-wrap .details .title {
  color: #fff;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

#popular-news .container .row .single-post-wrap .details .title a {
  text-decoration: none;
  color: #fff;
  line-height: 33px;
  font-size: 24px;
  transition: linear 0.4s;
}

#popular-news .container .row .single-post-wrap .details .title a:hover {
  color: #FFBE00;
}

#popular-news .container .row .Latest-post-list-wrap {
  margin-bottom: 17px;
}

#popular-news .container .row .Latest-post-list-wrap .Gallery {
  display: flex;
}

#popular-news .container .row .Latest-post-list-wrap .Gallery .gallery-left {
  margin-right: 13px;
  position: relative;
}

#popular-news .container .row .Latest-post-list-wrap .Gallery .gallery-left img {
  max-width: 75px;
}

#popular-news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul {
  margin-bottom: 10px;
}

#popular-news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul li {
  font-size: 14px;
  color: #201654;
  font-family: "Rubik", sans-serif;
}

#popular-news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .post-meta-single ul li i {
  margin-right: 5px;
}

#popular-news .container .row .Latest-post-list-wrap .Gallery .gallery-body .details .title a {
  text-decoration: none;
  color: #201654;
  font-weight: 500;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  display: inline-block;
  line-height: 21px;
}

#popular-news .container .row .nxp-tab-inner .nav-tabs {
  border: 1px solid #f1f3f5 !important;
  line-height: 1;
}

#popular-news .container .row .nxp-tab-inner .nav-tabs .nav-item {
  margin: 0;
  display: inline-block;
  border-right: 1px solid #f1f3f5;
  line-height: 1;
  width: 33.33%;
}

#popular-news .container .row .nxp-tab-inner .nav-tabs .nav-item .active {
  background: #097bed !important;
  color: #fff !important;
}

#popular-news .container .row .nxp-tab-inner .nav-tabs .nav-item .nav-link {
  border-radius: unset;
  color: inherit;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  border: 0 !important;
  padding: 0;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

#NewsLetter {
  padding-bottom: 50px;
  padding-top: 80px;
  background: #102950;
}

#NewsLetter .container .row .single-post-list-wrap {
  margin-bottom: 30px;
}

#NewsLetter .container .row .single-post-list-wrap .media {
  display: flex;
  align-items: flex-start;
}

#NewsLetter .container .row .single-post-list-wrap .media .media-left {
  margin-right: 20px;
  position: relative;
}

#NewsLetter .container .row .single-post-list-wrap .media .media-left img {
  border-radius: 5px;
  max-width: 100%;
}

#NewsLetter .container .row .single-post-list-wrap .media .media-left a {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 3px;
  border-radius: 50%;
  display: inline-block;
  font-size: 14px;
}

#NewsLetter .container .row .single-post-list-wrap .media .media-body .details .post-meta-single ul li {
  display: inline-block;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

#NewsLetter .container .row .single-post-list-wrap .media .media-body .details .post-meta-single ul li:first-child {
  margin-right: 12px;
}

#NewsLetter .container .row .single-post-list-wrap .media .media-body .details .post-meta-single ul li a {
  left: 17px;
  top: 19px;
  z-index: 3;
  background: #097bed;
  color: #fff;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  display: inline-block;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

#NewsLetter .container .row .single-post-list-wrap .media .media-body .details .post-meta-single ul li i {
  margin-right: 5px;
}

#NewsLetter .container .row .single-post-list-wrap .media .media-body .details .title {
  color: #fff;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  line-height: 21px;
  font-size: 16px;
}

#NewsLetter .container .row .single-post-list-wrap .media .media-body .details p {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 25px;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}

#NewsLetter .container .row .single-newsletter-inner {
  padding: 22px 25px 30px 25px;
  border-radius: 5px;
  background: #097bed;
}

#NewsLetter .container .row .single-newsletter-inner h5 {
  color: #fff;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 1.3380952381;
}

#NewsLetter .container .row .single-newsletter-inner p {
  color: #fff;
  margin-bottom: 28px;
  font-family: "Rubik", sans-serif;
  line-height: 28px;
}

#NewsLetter .container .row .single-newsletter-inner .single-input-inner {
  margin-bottom: 12px;
}

#NewsLetter .container .row .single-newsletter-inner .single-input-inner ::placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
  font-family: "Rubik", sans-serif;
}

#NewsLetter .container .row .single-newsletter-inner .single-input-inner input {
  background: transparent;
  color: #fff;
  height: 48px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  padding: 0 18px;
  font-size: inherit;
}

#NewsLetter .container .row .single-newsletter-inner a {
  cursor: pointer;
  background: #fff;
  color: #201654;
  border: 0;
  height: 48px;
  line-height: 48px;
  padding: 0 35px;
  overflow: hidden;
  position: relative;
  border: 0;
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
}

#NewsLetter .container .row .single-newsletter-inner a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #283f62;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-duration: 0.4s;
}

#NewsLetter .container .row .single-newsletter-inner a:hover ::before {
  transform: scaleX(1);
  background: #283f62;
}

#Video-Area {
  padding-top: 80px;
}

#Video-Area .container .row .single-post-wrap {
  position: relative;
  margin-bottom: 30px;
  transition: 0.4s;
}

#Video-Area .container .row .single-post-wrap:hover .thumb img {
  transform: scale(1.06);
}

#Video-Area .container .row .single-post-wrap:hover .thumb::before {
  visibility: visible;
  opacity: 1;
}

#Video-Area .container .row .single-post-wrap .thumb {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

#Video-Area .container .row .single-post-wrap .thumb::before {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.38) 52%, rgba(0, 0, 100, 0));
  height: 75%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 4;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

#Video-Area .container .row .single-post-wrap .thumb::after {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.6) 52%, rgba(0, 0, 100, 0));
  height: 70%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  transition: 0.4s;
}

#Video-Area .container .row .single-post-wrap .thumb img {
  transition: 0.8s;
  transform: scale(1.01);
  min-height: 119px;
  max-width: 100%;
}

#Video-Area .container .row .single-post-wrap .thumb a {
  background: rgba(255, 190, 0, 0.8);
  color: #fff;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  padding-left: 3px;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 50%;
  margin-top: -40px;
  z-index: 5;
}

#Video-Area .container .row .single-post-wrap .details {
  position: absolute;
  bottom: 0;
  padding: 18px 20px;
  z-index: 4;
}

#Video-Area .container .row .single-post-wrap .details .post-meta-single {
  margin-bottom: 8px;
}

#Video-Area .container .row .single-post-wrap .details .post-meta-single .tag-base {
  background: #7530ff;
  color: #fff;
  font-family: "Rubik", sans-serif;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  display: inline-block;
  border-radius: 3px;
  font-size: 15px;
  text-decoration: none;
  transition: linear 0.2s;
}

#Video-Area .container .row .single-post-wrap .details .post-meta-single .tag-base:hover {
  background: #6227da;
}

#Video-Area .container .row .single-post-wrap .details .post-meta-single p {
  margin-bottom: 10px;
  margin-top: 16px;
  color: #fff;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}

#Video-Area .container .row .single-post-wrap .details .post-meta-single p i {
  margin-right: 5px;
}

#Video-Area .container .row .single-post-wrap .details .title {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3380952381;
}

#Video-Area .container .row .single-post-wrap .details .title a {
  text-decoration: none;
  transition: linear 0.3s;
  color: #fff;
}

#Video-Area .container .row .single-post-wrap .details .title a:hover {
  color: rgba(255, 190, 0, 0.8);
}

#Add-Area .container a {
  text-decoration: none;
}

#Add-Area .container a img {
  max-width: 100%;
}

#Trending {
  padding-bottom: 50px;
  padding-top: 75px;
}

#Trending .container .row .section-title {
  padding-bottom: 15px;
  margin-bottom: 45px;
  border-bottom: 1px solid #b3b3b3;
  position: relative;
}

#Trending .container .row .section-title .row .title {
  margin-bottom: 0;
  font-size: 20px;
  display: inline-block;
  color: #201654;
}

#Trending .container .row .section-title .row .nxp-tab-inner {
  text-align: right !important;
}

#Trending .container .row .section-title .row .nxp-tab-inner .nav-tabs .nav-link:focus, #Trending .container .row .section-title .row .nxp-tab-inner .nav-tabs .nav-link:hover {
  border-color: white;
}

#Trending .container .row .section-title .row .nxp-tab-inner .nav-tabs {
  display: inline-block;
  border: 0 !important;
}

#Trending .container .row .section-title .row .nxp-tab-inner .nav-tabs .nav-items {
  margin: 0 10px;
  display: inline-block;
  margin-bottom: -1px;
}

#Trending .container .row .section-title .row .nxp-tab-inner .nav-tabs .nav-items:hover {
  border-color: white;
}

#Trending .container .row .section-title .row .nxp-tab-inner .nav-tabs .nav-items .nav-link {
  color: #495057;
  display: block;
  overflow: hidden;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap {
  position: relative;
  margin-bottom: 30px;
  transition: 0.4s;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap:hover .thumb img {
  transform: scale(1.06);
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap:hover .thumb::before {
  visibility: visible;
  opacity: 1;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .thumb {
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
  border-radius: 5px;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .thumb::before {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.38) 52%, rgba(0, 0, 100, 0));
  height: 75%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 4;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .thumb::after {
  content: "";
  background: linear-gradient(to top, rgba(32, 22, 84, 0.6) 52%, rgba(0, 0, 100, 0));
  height: 70%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  transition: 0.4s;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .thumb img {
  max-width: 100%;
  min-height: 119px;
  transition: 0.8s;
  transform: scale(1.01);
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .thumb .tag-base {
  background: #097bed;
  color: #fff;
  font-family: "Rubik", sans-serif;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  display: inline-block;
  border-radius: 3px;
  font-size: 15px;
  text-decoration: none;
  transition: linear 0.2s;
  position: absolute;
  left: 17px;
  top: 19px;
  z-index: 3;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .thumb .tag-base:hover {
  background: #097bed;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .details {
  position: absolute;
  bottom: 0;
  padding: 18px 20px;
  z-index: 4;
  background-color: unset;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .details .post-meta-single {
  margin-bottom: 8px;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .details .post-meta-single ul li {
  color: #fff;
  font-family: "Rubik", sans-serif;
  margin: unset;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .details .post-meta-single ul li i {
  color: #fff;
  margin-right: 5px;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .title {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
  transition: linear 0.3s;
}

#Trending .container .row .tab-content .tab-pane .row .single-post-wrap .title a:hover {
  color: #ffbe00;
}
